.custom-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}
.custom-checkbox {
  accent-color: #2563eb;
  width: 18px;
  height: 18px;
}
.custom-checkbox-text {
  font-size: 1rem;
}